body {
	background-color: #eaeaea;
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}
.center {
	text-align: center;
}
.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 36px;
	padding-bottom: 40px;
}
.nav {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}
.nav>li {
	padding-left: 27px;
	margin-left: 23px;
	position: relative;
}
.nav>li:first-child {
	padding-left: 0px;
	margin-left: 0px;
}
.nav>li::before {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	background-color: #494949;
	position: absolute;
	left: 0;
}
.nav>li:first-child::before {
	display: none;
}
.nav>li:first-child {
	padding-left: 0;
	margin-left: 0;
}
.nav>li>a {
	text-decoration: none;
	color: #494949;
}
.banner {
	background-image: url(../image/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding-top: 213px;
	padding-bottom: 285px;
}
.pizza {
	position: absolute;
	right: -15px;
	top: -200px;
}
.title {
	font-size: 50px;
	margin-bottom: 10px;
	letter-spacing: 0.1px;
}
.description {
	font-size: 25px;
	line-height: 30px;
	max-width: 570px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 24px;
	margin-top: 0;
	letter-spacing: 0.4px;
}
.btn {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding: 11px 0px;
	max-width: 185px;
	text-align: center;
}
.h2 {
	font-size: 45px;
	color: #282828;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	position: relative;
	display: inline-block;
	padding-right: 122px;
	padding-left: 99px;
	margin-bottom: 18px;
	margin-top: 15px;
}
.h2::before, .h2::after {
	content: '';
	position: absolute;
	background-image: url(../image/item.png);
	display: block;
	width: 95px;
	height: 28px;
	top: calc(50% - 14px);
}
.h2::before {
	left: -30px;
}
.h2::after {
	right: 0;
}
.h2 + p {
	font-size: 20px;
	color: #959595;
	font-family: 'Roboto', sans-serif;
	margin: -8px;
}
.menu {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding-left: 0;
	margin-top: 42px;
	margin-bottom: 65px;
}
.menu > li {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	margin-top: 6px;
}
.menu>li::before {
	content: '';
	display: block;
	width: 2px;
	height: 100%;
	background-color: #494949;
	position: absolute;
	left: 0;
}
.menu > li:first-child::before {
	display: none;
}
.menu > li > a {
	text-decoration: none;
	color: #494848;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 18px;
}
.menu > li > a.active {
	border-bottom: 4px solid #ee252d;
	position: relative;
} 
.menu > li > a.active::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	display: block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom: 7px solid #ee252d;
}
.box {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
	display: flex;
	justify-content: space-between;
	margin-bottom: 82px;
}
.box-item {
	padding: 57px 0 58px 46px;
	box-sizing: content-box;
}
.number {
	font-family: 'Roboto', sans-serif;
	font-size: 120px;
	font-weight: 900;
	position: relative;
	margin-bottom: 14px;
	margin-top: 0;
	color: #282828;
}
.number::after{
	content: '';
	display: block;
	position: absolute;
	background-repeat: no-repeat;
}
.number-one::after {
	background-image: url(../image/icon01.png);
	width: 126px;
	height: 71px;
	left: 69px;
	top: calc(50% - 35px)
}
.number-two::after {
	background-image: url(../image/icon02.png);
	width: 184px;
	height: 81px;
	left: 88px;
	top: calc(50% - 40px)
}
.number-three::after {
	background-image: url(../image/icon03.png);
	width: 142px;
	height: 68px;
	left: 94px;
	top: calc(50% - 34px)
}
.box-text {
	border-right: 1px solid #eaeaea;
	padding-right: 55px;
}
.box-item:last-child .box-text {
	border-right: none;
}
.box-text h3 {
	font-size: 45px;
	color: #282828;
	margin-bottom: 23px;
	margin-top: 0;
}
.box-text p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #282828;
	line-height: 24px;
	margin-top: -13px;
}
.btn-start {
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	background-image: url(../image/bg.png);
	background-position: center center;
	text-decoration: none;
	padding: 29px 58px;
	background-repeat: no-repeat;
}
.page {
	padding-top: 94px;
	padding-bottom: 80px;
}
.footer {
	background-image: url(../image/footer.png);
	padding: 20px 0 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 36px;
}

@media (max-width: 1200px)  {
	.wrapper {
		max-width: 800px;
	}
	.pizza {
		opacity: 0.3;
	}
	.description {
		background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
	}
	.banner {
		padding-top: 76px;
		padding-bottom: 100px;
	}
	.h2, .box-text h3 {
		font-size: 35px;
	}
	.h2 + p {
		font-size: 18px;
	}
	.menu > li {
		padding-left: 15px;
		padding-right: 15px;
	}
	.box {
		flex-direction: column;
	}
	.box-item {
		padding: 0px 55px 0px 55px;
	}
	.box-text {
		border-right: none;
		padding-right: 0;
		padding-bottom: 30px;
		border-bottom: 1px solid #eaeaea;
	}
	.box-item:last-child .box-text {
		border-bottom: none;
	}
}
@media (max-width: 800px) {
	.wrapper {
		max-width: 650px;
	}
	.navigation {
		flex-direction: column;
	}
	.nav {
		margin-top: 34px;
	}
	.h2::before, .h2::after {
		display: none;
	}
	.btn-start {
		font-size: 20px;
		background-size: contain;
	}
	.menu > li > a {
		padding-bottom: 10px;
	}
	.number {
		font-size: 100px;
	}
	.h2 {
		padding: 0;
	}
}
@media (max-width: 650px) {
	.wrapper {
		max-width: 550px;
	}
	.menu > li > a {
		font-size: 14px;
		padding-bottom: 7px;
	}
	.page {
		padding-top: 30px;
		padding-bottom: 35px;
	}
	.h2 {
		font-size: 25px;
	}
	.nav>li>a {
		font-size: 15px;
	}
	.number {
		font-size: 90px;
	}
	.box-text h3 {
		font-size: 30px;
	}
	.btn-start {
		font-size: 18px;
	}
	.banner {
    	padding-top: 30px;
	}
	.title {
    	font-size: 43px;
	}
}
@media (max-width: 550px) {
	.wrapper {
		max-width: 480px;
	}
	.menu > li > a {
		font-size: 12px;
		padding-bottom: 7px;
	}
	.nav>li>a {
		font-size: 12px;
	}
	.title {
    	font-size: 37px;
 	}
	.description {
    	font-size: 20px;
	}
	.banner {
    	padding-top: 10px;
    	padding-bottom: 80px;
	}
	.page {
    	padding-top: -1px;
    }
    .number {
    	font-size: 70px;
	}
	.box-text h3 {
    	font-size: 25px;
    }
	.box-text {
    	padding-bottom: 0px;
	}
	.number::after {
		background-size: contain;
		width: 99px;
    	height: 56px;
	}
	.footer {
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.wrapper {
		max-width: 400px;
	}
	.nav>li>a {
    	font-size: 9px;
	}
	.nav {
    	margin-top: 15px;
        margin-bottom: -20px;
	}
	.menu > li > a {
    	font-size: 9px;
	}
	.menu > li > a.active {
   		border-bottom: 2px solid #ee252d;
	}
	.menu > li > a.active::before {
		border: 4px solid transparent;
		border-bottom: 6px solid #ee252d;
	}
	.box-item {
    	padding: 0px 20px 0px 20px;
	}
	.box {
		margin-top: -35px;
	}
	.number::after {
    	width: 110px;
    	height: 50px;
    	top: calc(50% - 26px);
	}
}
@media (max-width: 400px) {
	.navigation {
		padding-top: 25px;
    	padding-bottom: 30px;
	}
	.nav>li::before {
		width: 1px;
	}
	.nav>li {
    	padding-left: 10px;
    	margin-left: 15px;
    }
    .banner {
    	padding-bottom: 35px;
	}
	.menu > li {
   		margin-top: -5px;
	}
	.menu>li::before {
		width: 1px;
	}
	.menu > li {
    	padding-left: 8px;
    	padding-right: 10px;
	}
	.menu > li > a {
    	font-size: 8px;
	}
	.footer {
    	font-size: 12px;
	}
	.footer {
    	padding: 7px 0 7px;
	}
	.btn-start {
    	font-size: 12px;
	}
	.center {
    	margin-top: -33px;
    	margin-bottom: -10px;
	}
}